.home-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('../images/homepage/001.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh; /*minimum height of an element should be 100% of the viewport height.*/
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-part-1{
    font-family: Playfair Display;
    font-style: italic;
    color:white;
    font-size:6vw;
}
.welcome-my-name{
    font-family: sans-serif;
    color:white;
    font-size:2vw;
    padding-top: 0.5em;

}
.welcome-brackets{
    font-family: Playfair Display;
    color:white;
    font-size:6vw;   
}
.welcome-part-2{
    font-family: Playfair Display;
    font-style: italic;
    color:white;
    font-size:6vw;
}
